.tab{
    text-decoration: rgb(85, 85, 85);
    background-color: rgb(85, 85, 85);
    color: white;
    width: 85px;
    height: 55px;
    padding: 10px;
    text-align: center;
    font-family: "Montserrat", 'Times New Roman', Times, serif;
    font-size: larger;
    transition: 0.25s;
    display: flex;
    justify-content: space-evenly;
    max-width: 17.5vw;
    transform: scale(100%);
    z-index: 2;
    animation: navbar 1s;
}
.tab:hover{
    background-color: rgb(40, 40, 40);
    color: white;
    transition: 0.25s;
    transform: scale(115%);
    z-index: 3;
}
nav{
    display: flex;
    justify-content: flex-start;
    text-decoration: rgb(85, 85, 85);
}
body{
    background-image: url('http://marcelogoularte.site/Assets/ground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    text-decoration: rgb(85, 85, 85);
    font-size: 20px;
}
ul a{
    text-decoration: none;
}
#titletxt{
    font-size: 5vw;
    font: bold;
}
#titlescreen{
    position: absolute;
    top: 25%;
    transform: translateX(15%);
    color: goldenrod;
    font-family: "Montserrat", system-ui, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation-name: move;
    animation-duration: 1s;
    text-shadow: 0px 5px 20px black;
}
footer{
    background-color: grey;
    position: absolute;
    top: 100%;
    height: 125px;
    margin: 0%;
    width: 99%;
    max-width: 99%;
    text-align: center;
}
.tit{
    font-size: 3vw;
}
@keyframes move{
    0%{
        opacity: 0;
        position: absolute;
        top: 100%;
        transform: translateX(0%);
        font-size: 12px;
    }
    100%{
        opacity: 1;
        position: absolute;
        top: 25%;
        transform: translateX(15%);
        font-size: 72px;
    }
}
