.tab{
    text-decoration: none;
    background-color: rgb(85, 85, 85);
    color: white;
    width: 100px;
    height: 50px;
    padding: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
.tab:hover{
    background-color: rgb(40, 40, 40);
    color: white;
}
nav{
    display: flex;
    justify-content: flex-start;
}
body{
    background-image: linear-gradient(black, rgb(40, 40, 40), rgb(68, 68, 68));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}
#titletxt{
    font-size: 56px;
    font: bold;
}
#titlescreen{
    position: absolute;
    top: 25%;
    right: 25%;
    font-size: 56px;
    font: bold;
    color: goldenrod;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation-name: move;
    animation-duration: 1s;
}
footer{
    background-color: grey;
    position: absolute;
    top: 100%;
    height: 125px;
    margin: 0%;
    width: 99%;
    text-align: center;
}
@keyframes move{
    0%{
        position: absolute;
        top: 100%;
        right: 25%; 
        font-size: 12px;
    }
    100%{
        position: absolute;
        top: 25%;
        right: 25%;
        position: absolute;
        font-size: 56px;
    }
}